.container {
  width: 80%;
  margin: 45px auto;

  .wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .wrapper1 {
    padding-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .wrapper,
  .wrapper1 {
    height: calc(50vh - 62.5px - 44.5px - 90px);
    margin-top: 50px;

    .text-info {
      height: 100%;
      display: flex;

      p{
        font-size: 30px;
        font-style: italic;
        text-align: center;
        margin: auto;
      }
    }

    .topBar {
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      position: fixed;
      background: #ffffff;
      width: 100%;
      transform: translateY(-40px);

      p {
        color: #ff8842;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .itemWrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-top: 2px;
      padding-right: 10px;
      border-top: 1px solid #b9b9b9;
      position: relative;
      .icon {
        position: relative;
        ng-icon {
          cursor: pointer;
        }
        .options {
          position: absolute;
          top: 0px;
          right: 20px;
          background: #d9d9d9;
          width: 200px;
          font-size: 18px;
          font-weight: 600;
          border-radius: 3px;
          z-index: 1;

          .option {
            margin: 8px;
            padding: 2px;
            cursor: pointer;
            border-bottom: 1px solid #c0c0c0;
          }
          .option:last-child {
            border-bottom: none;
          }
        }
      }

      .content {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 55px;
          margin-right: 15px;
          overflow: hidden;
          object-fit: contain;
        }
      }
    }
  }
}

.isReserved {
  position: absolute;
  top: 60%;
  left: 300px;
  border-radius: 25px;
  background: #48c448;
  padding: 5px 20px;
}

.isSold {
  position: absolute;
  top: 60%;
  left: 300px;
  border-radius: 25px;
  background: #4873c4;
  padding: 5px 20px;
}
