<div class="container">
  <div class="wrapper">
    <div class="topBar">
      <p>Domy na sprzedaż</p>
    </div>
    <div *ngIf="myHouses.length === 0" class="text-info">
      <p>
        Brak domów na sprzedaż
      </p>
    </div>
    <ng-container *ngFor="let myHouse of myHouses; let index = index">
      <div class="itemWrapper">
        <div class="isReserved" *ngIf="myHouse.isExist === 2">
          <p>Zarezerwowany</p>
        </div>
        <div class="isSold" *ngIf="myHouse.isExist === 4">
          <p>Sprzedany</p>
        </div>
        <div class="content">
          <img
            src="{{
              myHouse.images[0]
                ? myHouse.images[0]
                : './assets/image/nophoto.png'
            }}"
            alt="Zdjęcie domu"
          />
          <div>
            <p>
              {{ myHouse.street }} {{ myHouse.houseNr }}, {{ myHouse.city }}
            </p>
            <p>{{ myHouse.price }}zł</p>
          </div>
        </div>
        <div class="icon">
          <ng-icon
            name="bootstrapThreeDots"
            (click)="openOptions(myHouse._id)"
          ></ng-icon>
          <div class="options" *ngIf="houseId === myHouse._id">
            <div class="option option1" (click)="showMoreInfo(myHouse._id)">
              Więcej informacji
            </div>
            <div class="option option3" (click)="archive(myHouse._id, 3)">
              Archiwizuj
            </div>
            <div class="option option3" (click)="sold(myHouse._id, 4)">
              Sprzedany
            </div>
          </div>
        </div>
      </div>
      <div class="modalDetails">
        <app-details-modal
          [house]="myHouse"
          [userId]="myHouse.owner"
          [buttons]="false"
          *ngIf="
            openModalDetails.open === true &&
            openModalDetails.idHouse === myHouse._id
          "
          [isOpen]="openModalDetails.open"
        >
        </app-details-modal>
      </div>
    </ng-container>
  </div>

  <div class="wrapper1">
    <div class="topBar">
      <p>Archiwizowane</p>
    </div>
    <div *ngIf="archivedHouses.length === 0" class="text-info">
      <p>
        Brak domów zarchwizowanych
      </p>
    </div>
    <ng-container *ngFor="let archiveHouse of archivedHouses">
      <div class="itemWrapper">
        <div class="isSold" *ngIf="archiveHouse.isExist === 4">
          <p>Sprzedany</p>
        </div>
        <div class="content">
          <img
            src="{{
              archiveHouse.images[0]
                ? archiveHouse.images[0]
                : './assets/image/nophoto.png'
            }}"
            alt="Zdjęcie domu"
          />
          <div>
            <p>
              {{ archiveHouse.street }} {{ archiveHouse.houseNr }},
              {{ archiveHouse.city }}
            </p>
            <p>{{ archiveHouse.price }}zł</p>
          </div>
        </div>
        <div class="icon">
          <ng-icon
            name="bootstrapThreeDots"
            (click)="openOptions(archiveHouse._id)"
          ></ng-icon>
          <div class="options" *ngIf="houseId === archiveHouse._id">
            <div
              class="option option1"
              (click)="showMoreInfo(archiveHouse._id)"
            >
              Więcej informacji
            </div>
            <div
              class="option option2"
              (click)="archive(archiveHouse._id, 0)"
              *ngIf="archiveHouse.isExist !== 4"
            >
              Przywróć dom
            </div>
          </div>
        </div>
      </div>
      <div class="modalDetails">
        <app-details-modal
          [house]="archiveHouse"
          [userId]="archiveHouse.owner"
          [buttons]="false"
          *ngIf="
            openModalDetails.open === true &&
            openModalDetails.idHouse === archiveHouse._id
          "
          [isOpen]="openModalDetails.open"
        >
        </app-details-modal>
      </div>
    </ng-container>
  </div>
</div>
