.container {
  width: 80%;
  margin: 45px auto;
  .wrapper {
    height: calc(50vh - 62.5px - 44.5px - 90px);
    overflow-y: scroll;

    .topBar {
      display: flex;
      justify-content: space-between;

      p {
        color: #ff8842;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
      }
      ng-icon {
        color: #ff8842;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .itemWrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding-top: 2px;
      border-top: 1px solid #b9b9b9;
      .content {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          background: red;
          margin-right: 15px;
        }
      }
    }
  }
}
