<div class="container">
  <form [formGroup]="form" (ngSubmit)="confirm(form.value)">
    <div class="avatarWrapper">
      <div class="imgWrapper">
        <img
          class="first"
          src="{{
            userAvatar ? userAvatar : '../../../assets/image/avatar.png'
          }}"
          alt="Avatar"
        />
        <img
          class="second"
          src="{{
            userAvatar ? userAvatar : '../../../assets/image/avatar.png'
          }}"
          alt="Avatar"
        />
        <img
          class="third"
          src="{{
            userAvatar ? userAvatar : '../../../assets/image/avatar.png'
          }}"
          alt="Avatar"
        />
      </div>
      <div class="avatarButtonContainer">
        <div
          class="wrapperButtonAvatar"
          (click)="this.form.get('avatar')?.enable()"
        >
          <input
            id="img"
            name="avatar"
            formControlName="avatar"
            type="file"
            style="display: none"
            accept="image/png, image/gif, image/jpeg, image/jpg"
            (change)="sendImage($event.target)"
          />
          <label for="img">Prześlij swój awatar</label>
        </div>
        <p>
          Prześlij plik ze swojego urządzenia. Obraz powinien być kwadratem o
          wymiarach przynajmniej 184 x 184 piksele.
        </p>
      </div>
    </div>
    <div class="dataWrapper">
      <div class="nameContainer">
        <div class="input">
          <label for="name">Nazwa</label>
          <div>
            <input
              type="text"
              id="name"
              name="name"
              formControlName="name"
              value="{{ userName }}"
            />
            <button
              class="editButton"
              type="button"
              *ngIf="this.form.get('name')?.disabled"
              (click)="this.form.get('name')?.enable()"
            >
              Edytuj
            </button>
            <button class="acceptButton" *ngIf="this.form.get('name')?.enabled">
              Akceptuj
            </button>
          </div>
        </div>
      </div>
      <div class="phoneContainer">
        <div class="input">
          <label for="phone">Numer telefonu</label>
          <div>
            <input
              type="text"
              id="phone"
              name="phone"
              formControlName="phone"
              value="{{ userPhone }}"
            />
            <button
              class="editButton"
              type="button"
              *ngIf="this.form.get('phone')?.disabled"
              (click)="this.form.get('phone')?.enable()"
            >
              Edytuj
            </button>
            <button
              class="acceptButton"
              *ngIf="this.form.get('phone')?.enabled"
            >
              Akceptuj
            </button>
          </div>
        </div>
      </div>
      <div class="emailContainer">
        <div class="input">
          <label for="email">Email</label>
          <div>
            <input
              type="text"
              id="email"
              disabled
              placeholder="{{ userEmail }}"
            />
          </div>
        </div>
      </div>
      <div class="passwordContainer">
        <div class="input">
          <label for="password">Hasło</label>
          <div>
            <input
              type="password"
              id="password"
              value="qwertyqwertyqwerty"
              disabled
            />
            <button
              type="button"
              class="editButton"
              (click)="editPasswordClick()"
            >
              Edytuj
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
