<div class="container">
  <div class="formTitle">
    <h1>Witamy w YourHome!</h1>
  </div>
  <div class="buttons">
    <button type="button" class="signInButton" (click)="setIsSignInClicked()">
      Zaloguj się
    </button>
    <button
      type="button"
      class="signUpButton"
      (click)="setIsSignUpClicked()"
      [ngClass]="{ borderBottomButton: isSignUpClicked }"
    >
      Nowe konto
    </button>
  </div>
  <div class="formWrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="emailInputWrapper">
        <label for="email">Email</label>
        <input
          id="email"
          type="text"
          placeholder="Wprowadź adres email"
          name="email"
          formControlName="email"
        />
        <div
          *ngIf="
            !form.controls['email'].valid && form.controls['email'].touched
          "
        >
          <ng-icon
            name="bootstrapExclamationTriangleFill"
            class="errorIcon"
          ></ng-icon>
          <p class="errorMessage">
            {{ "Wprowadź poprawny email" }}
          </p>
        </div>
      </div>
      <div class="passwordInputWrapper">
        <label for="password">Hasło</label>
        <input
          id="password"
          type="password"
          placeholder="Wprowadź hasło"
          name="password"
          formControlName="password"
        />
        <div
          *ngIf="
            !form.controls['password'].valid &&
            form.controls['password'].touched
          "
        >
          <ng-icon
            name="bootstrapExclamationTriangleFill"
            class="errorIcon"
          ></ng-icon>
          <p class="errorMessage">
            {{ "Hasło musi mieć minimum 6 znaków" }}
          </p>
        </div>
      </div>
      <div class="passwordInputWrapper">
        <label for="passwordRepeat">Powtórz hasło</label>
        <input
          id="passwordRepeat"
          type="password"
          placeholder="Powtórz hasło"
          name="password"
          formControlName="passwordRepeat"
        />

        <div
          *ngIf="
            !form.controls['passwordRepeat'].valid &&
            form.controls['passwordRepeat'].touched
          "
        >
          <ng-icon
            name="bootstrapExclamationTriangleFill"
            class="errorIcon"
          ></ng-icon>
          <p class="errorMessage">
            {{ "Hasło musi mieć minimum 6 znaków" }}
          </p>
        </div>
      </div>

      <button
        type="submit"
        class="submitButton"
        [ngClass]="{
          disabled:
            !form.controls['email'].valid ||
            !form.controls['password'].valid ||
            !form.controls['passwordRepeat'].valid
        }"
        [disabled]="
          !form.controls['email'].valid ||
          !form.controls['password'].valid ||
          !form.controls['passwordRepeat'].valid
        "
      >
        <p>Zarejestruj się</p>
      </button>
    </form>
  </div>
</div>
