.container {
  padding: 0 20px;

  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font-size: 16px;

    .sortBy {
      select {
        background: #ffffff;
        border: 1px solid #535c6830;
        padding: 2px 18px;
      }

      select:hover {
        background: #ebebeb30;
        cursor: pointer;
      }
      select:focus,
      select:active {
        border: 1px solid #535c6830;
        outline: none;
      }

      option {
        font-weight: 600;
      }

      option[selected],
      option:checked {
        background: none;
        color: #ff8842;
      }
    }
  }
}
