<div class="container">
  <div class="topBar">
    <div class="sortBy">
      Sortuj:
      <select (click)="onClick()" [(ngModel)]="selectedOption">
        <option
          *ngFor="let option of listOption"
          [ngValue]="option"
          [hidden]="option === 'Wybierz opcję sortowania'"
        >
          {{ option }}
        </option>
      </select>
    </div>
    <div class="offerInfo">Liczba domów: {{ houses.length }}</div>
  </div>
  <div *ngFor="let house of houses">
    <app-house-card
      [house]="house"
      [favourites]="favourites"
      [userId]="userId"
      [isLoggedIn]="isLoggedIn"
    ></app-house-card>
  </div>
</div>
