<div class="container">
  <div class="header">
    <div class="imgWrapper">
      <img
        src="../../../assets/image/logo.png"
        alt="Logo"
        [routerLink]="navLink"
      />
    </div>
    <div *ngIf="isLoggedIn === 'User'" class="header-user-menu">
      <p class="menuItem" routerLink="/user/favorite">Ulubione domy</p>
      <p class="menuItem" routerLink="/user/my-houses">Moje domy</p>
      <p class="menuItem" routerLink="/user/new-house">Dodaj nowy dom</p>
      <p class="menuItem" routerLink="/user/house-reserved">
        Zarezerwowane domy
      </p>
    </div>
    <button
      class="logInOutButton"
      (click)="onClick()"
      *ngIf="isLoggedIn !== 'User'"
    >
      {{ isLoggedIn ? "Wyloguj" : "Zaloguj" }}
    </button>
    <div
      class="userAvatarButton"
      (click)="onAvatarClick()"
      *ngIf="isLoggedIn === 'User'"
    >
      <img
        class="imgNavbar"
        src="{{ userAvatar ? userAvatar : '../../../assets/image/avatar.png' }}"
        alt="Awatar użytkownika"
      />
    </div>
  </div>
  <app-nav-popup
    *ngIf="openNavPopup"
    [userName]="user.name"
    (closePopup)="closeNavPopup()"
  ></app-nav-popup>
</div>
