<div class="container">
  <div class="header">
    <div class="imgWrapper">
      <img src="../../../assets/image/nophoto.png" alt="Logo" routerLink="/" />
    </div>
    <button
      class="logInOutButton"
      (click)="onClick()"
      *ngIf="isLoggedIn !== 'User'"
    >
      {{ isLoggedIn ? "Wyloguj" : "Zaloguj" }}
    </button>
    <div
      class="userAvatarButton"
      (click)="onAvatarClick()"
      *ngIf="isLoggedIn === 'User'"
    >
      <img
        src="{{ userAvatar ? userAvatar : '../../../assets/image/avatar.png' }}"
        alt="Awatar użytkownika"
      />
    </div>
  </div>
  <app-nav-popup
    *ngIf="openNavPopup"
    [userName]="user.name"
    (closePopup)="closeNavPopup()"
  ></app-nav-popup>
</div>
