<div class="container">
  <div class="topBar">
    <div
      class="user"
      (click)="userClicked()"
      [ngClass]="{ borderBottom: selectedPage.user }"
    >
      user
    </div>
    <div
      class="manager"
      (click)="managerClicked()"
      [ngClass]="{ borderBottom: selectedPage.manager }"
    >
      manager
    </div>
    <div
      class="manageRole"
      (click)="manageRoleClicked()"
      [ngClass]="{ borderBottom: selectedPage.manageRoleUser }"
    >
      Zarządzaj rolami
    </div>
  </div>
  <div class="cardsContainer">
    <ng-container *ngIf="selectedPage.user">
      <ng-container *ngFor="let user of users">
        <app-user-card [person]="user" [houses]="houses"></app-user-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="selectedPage.manager">
      <ng-container *ngFor="let manager of managers">
        <app-user-card [person]="manager" [houses]="houses"></app-user-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="selectedPage.manageRoleUser">
      <ng-container *ngFor="let userCanGetRole of usersCanGatRoles">
        <app-user-card [person]="userCanGetRole" [houses]="houses" [addRole]="true"></app-user-card>
      </ng-container>
    </ng-container>
  </div>
</div>
