<div
  class="container"
  [ngClass]="{ displayNone: userHouses.length && addRole }"
>
  <div class="imgWrapper">
    <div class="img">
      <img
        src="{{ user.avatar ? user.avatar : './assets/image/nophoto.png' }}"
        alt="Avatar użytkownika"
      />
    </div>
  </div>
  <div class="infoWrapper">
    <div class="email">
      <p>Email</p>
      <p>{{ user.email }}</p>
    </div>
    <div class="line"></div>
    <div class="time">
      <p>
        Na platformie od: <span>{{ createdDatePerson }}</span>
      </p>
    </div>
    <div class="countHouses">
      <p>
        Ilość wystawionych domów: <span>{{ userHouses.length }}</span>
      </p>
    </div>
    <div class="reservedHouses">
      <p>
        Ilość ulubionych domów: <span>{{ user.favorites?.length }}</span>
      </p>
    </div>
  </div>

  <div class="button">
    <button *ngIf="!addRole" (click)="blockPerson(user._id)">
      Blokuj użytkownika
    </button>
    <button
      *ngIf="addRole"
      (click)="addRoleFn(user._id)"
      style="background: #000000"
    >
      Nadaj role {{ user.role === "User" ? "managera" : "użytkownika" }}
    </button>
  </div>
  <div
    class="isBlockedUser"
    *ngIf="user.status === 0"
    (click)="restorePerson(user._id)"
  >
    <p class="text">Zablokowany</p>
  </div>
</div>

<div class="popup">
  <app-popup-accept-cancel
    (isOpened)="closePopup()"
    [openPopup]="openPopup"
    [title]="title"
    [userId]="user._id"
    [isBlocked]="isBlocked"
  ></app-popup-accept-cancel>

  <ng-container *ngIf="modifyRole">
    <div class="containerPopup" *ngIf="addRole">
      <div class="titlePopup">Czy na pewno chcesz nadać role?</div>
      <div class="buttonWrapperPopup">
        <button
          class="addManager"
          (click)="manageRole(user._id, 'Manager')"
          *ngIf="user.role === 'User'"
        >
          Nadaj managera
        </button>
        <button
          class="addUser"
          (click)="manageRole(user._id, 'User')"
          *ngIf="user.role === 'Manager'"
        >
          Nadaj użytkownika
        </button>
        <button class="cancelPopup" (click)="closeRoleFn()">Anuluj</button>
      </div>
    </div>
  </ng-container>
</div>

<div
  class="bgColor"
  *ngIf="(openPopup || modifyRole) && user._id === userId"
></div>
