<div class="menuWrapper">
  <div class="title">
    <p>Witaj, {{ userName || "User" }}!</p>
  </div>
  <div class="menuItemWrapper">
    <p class="menuItem" routerLink="/user/settings">Ustawienia konta</p>
    <p class="menuItem" routerLink="/user/favorite">Ulubione domy</p>
    <p class="menuItem" routerLink="/user/my-houses">Moje domy</p>
    <p class="menuItem" routerLink="/user/new-house">Dodaj nowy dom</p>
    <p class="menuItem" routerLink="/user/house-reserved">Zarezerwowane domy</p>
  </div>
  <div class="logoutWrapper" (click)="logOut()">
    <div>Wyloguj</div>
    <ng-icon name="bootstrapBoxArrowRight" class="icon"></ng-icon>
  </div>
</div>
