<div class="container">
  <div class="title">Add new house</div>
  <form [formGroup]="form" (ngSubmit)="submit(this.form)" class="formContainer">
    <div class="wrapperAddress">
      <div class="properTitle">Address information</div>
      <div class="inputWrapper">
        <input
          type="text"
          name="country"
          formControlName="country"
          placeholder="Państwo*"
          [ngClass]="{
            borderColor:
              !form.controls['country'].valid &&
              form.controls['country'].touched
          }"
        />
        <input
          type="text"
          name="province"
          formControlName="province"
          placeholder="Województwo*"
          [ngClass]="{
            borderColor:
              !form.controls['province'].valid &&
              form.controls['province'].touched
          }"
        />
        <input
          type="text"
          name="city"
          formControlName="city"
          placeholder="Miasto*"
          [ngClass]="{
            borderColor:
              !form.controls['city'].valid && form.controls['city'].touched
          }"
        />
        <input
          type="text"
          name="street"
          formControlName="street"
          placeholder="Nazwa Ulicy*"
          [ngClass]="{
            borderColor:
              !form.controls['street'].valid && form.controls['street'].touched
          }"
        />
        <input
          type="number"
          name="houseNr"
          formControlName="houseNr"
          placeholder="Numer domu*"
          [ngClass]="{
            borderColor:
              !form.controls['houseNr'].valid &&
              form.controls['houseNr'].touched
          }"
        />
      </div>
    </div>
    <div class="wrapperInformation">
      <div class="properTitle">Property information</div>
      <div class="inputWrapper">
        <input
          type="number"
          name="yearBuilt"
          formControlName="yearBuilt"
          placeholder="Rok wybudowania*"
          [ngClass]="{
            borderColor:
              !form.controls['yearBuilt'].valid &&
              form.controls['yearBuilt'].touched
          }"
        />
        <input
          type="number"
          name="price"
          formControlName="price"
          placeholder="Cena*"
          [ngClass]="{
            borderColor:
              !form.controls['price'].valid && form.controls['price'].touched
          }"
        />
        <input
          type="number"
          name="dimension"
          formControlName="dimension"
          placeholder="Powierzchnia*"
          [ngClass]="{
            borderColor:
              !form.controls['dimension'].valid &&
              form.controls['dimension'].touched
          }"
        />
        <input
          type="number"
          name="floorsInBuilding"
          formControlName="floorsInBuilding"
          placeholder="Ilość pięter*"
          [ngClass]="{
            borderColor:
              !form.controls['floorsInBuilding'].valid &&
              form.controls['floorsInBuilding'].touched
          }"
        />
        <input
          type="number"
          name="floor"
          formControlName="floor"
          placeholder="Piętro"
        />
        <input
          type="number"
          name="roomsNumber"
          formControlName="roomsNumber"
          placeholder="Ilość pokoi*"
          [ngClass]="{
            borderColor:
              !form.controls['roomsNumber'].valid &&
              form.controls['roomsNumber'].touched
          }"
        />
        <input
          type="number"
          name="bathroomNumber"
          formControlName="bathroomNumber"
          placeholder="Ilość łazienek*"
          [ngClass]="{
            borderColor:
              !form.controls['bathroomNumber'].valid &&
              form.controls['bathroomNumber'].touched
          }"
        />
      </div>
    </div>
    <!--    -->
    <!--    -->
    <!--    -->
    <!--    -->
    <!--    -->
    <!--    -->
    <!--    -->
    <div class="wrapperFacilities">
      <div class="properTitle">More Facilities</div>
      <div class="moreFacilitiesSelect">
        <div
          formArrayName="otherFeatures"
          *ngFor="let facility of arrayOfFacilities; let index = index"
        >
          <div [formGroupName]="index" class="inputCheckbox">
            <input
              type="checkbox"
              formControlName="checked"
              [id]="facility + index"
              [value]="facility"
            />
            <label [for]="facility + index">{{ facility }}</label>
          </div>
        </div>
      </div>
    </div>
    <!--      -->
    <!--      -->
    <!--      -->
    <!--      -->
    <!--      -->
    <textarea
      placeholder="More information"
      name="descriptionField"
      formControlName="descriptionField"
      maxlength="350"
    ></textarea>
    <div class="wrapperImage">
      <input
        id="img"
        type="file"
        style="display: none"
        multiple
        accept="image/png, image/gif, image/jpeg, image/jpg"
        (change)="addImages($event.target)"
      />
      <div>
        <label for="img">Wybierz zdjęcie</label>
      </div>
      <ng-container *ngFor="let image of arrayOfImages.photo">
        <div class="smallImg">
          <img src="{{ image }}" alt="" />
        </div>
      </ng-container>
    </div>

    <button
      type="submit"
      class="btnAdd"
      [ngClass]="{
        disable:
          !form.controls['country'].valid ||
          !form.controls['province'].valid ||
          !form.controls['city'].valid ||
          !form.controls['street'].valid ||
          !form.controls['houseNr'].valid ||
          !form.controls['yearBuilt'].valid ||
          !form.controls['price'].valid ||
          !form.controls['dimension'].valid ||
          !form.controls['floorsInBuilding'].valid ||
          !form.controls['roomsNumber'].valid ||
          !form.controls['bathroomNumber'].valid
      }"
      [disabled]="
        !form.controls['country'].valid ||
        !form.controls['province'].valid ||
        !form.controls['city'].valid ||
        !form.controls['street'].valid ||
        !form.controls['houseNr'].valid ||
        !form.controls['yearBuilt'].valid ||
        !form.controls['price'].valid ||
        !form.controls['dimension'].valid ||
        !form.controls['floorsInBuilding'].valid ||
        !form.controls['roomsNumber'].valid ||
        !form.controls['bathroomNumber'].valid
      "
    >
      Dodaj dom
    </button>
  </form>
</div>
