<div class="container">
  <div class="closeIcon" (click)="onClose()">
    <ng-icon name="bootstrapX"></ng-icon>
  </div>
  <div class="leftSide">
    <div class="title">
      <div class="address">
        <p>{{ houseData.street }} {{ houseData.houseNr }},</p>
        <p>{{ houseData.country }}</p>
      </div>
      <ng-icon
        name="bootstrapHeart"
        *ngIf="!favourites.includes(houseData._id)"
      ></ng-icon>
      <ng-icon
        name="bootstrapHeartFill"
        class="heartFill"
        *ngIf="favourites.includes(houseData._id)"
      ></ng-icon>
    </div>
    <div class="imgWrapper">
      <div class="mainImg">
        <img
          src="{{
            houseData.images[0]
              ? houseData.images[0]
              : '../../../assets/image/nophoto.png'
          }}"
          alt="Zdjęcie domu"
        />
      </div>
      <div class="restImg">
        <div>
          <img
            src="{{
              houseData.images[1]
                ? houseData.images[1]
                : '../../../assets/image/nophoto.png'
            }}"
            alt="Zdjęcie domu"
          />
        </div>
        <div>
          <img
            src="{{
              houseData.images[2]
                ? houseData.images[2]
                : '../../../assets/image/nophoto.png'
            }}"
            alt="Zdjęcie domu"
          />
        </div>
        <div>
          <img
            src="{{
              houseData.images[3]
                ? houseData.images[3]
                : '../../../assets/image/nophoto.png'
            }}"
            alt="Zdjęcie domu"
          />
        </div>
      </div>
    </div>
    <div class="priceContainer">
      <span *ngIf="!!(houseData.owner === userId)">Wystawiono: {{ time }}</span>
      <div>{{ houseData.price }}zł</div>
    </div>
    <ng-container *ngIf="!manager">
      <div class="buttonWrapper" *ngIf="!(houseData.owner === userId)">
        <button (click)="reserveHouse(houseData._id)" *ngIf="!!userId">
          Zarezerwuj Dom
        </button>
        <button>Kontakt</button>
      </div>
    </ng-container>
    <ng-container *ngIf="manager">
      <div class="info" [ngStyle]="color">
        {{ info }}
      </div>
      <div *ngIf="buttons">
        <div class="buttonContainer">
          <button
            type="button"
            class="accept"
            (click)="updateStatus(houseData._id, 2)"
          >
            Akceptuj
          </button>
          <button
            type="button"
            class="reject"
            (click)="updateStatus(houseData._id, 0)"
          >
            Odrzuć
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="rightSide">
    <p class="propertyTitle">Informacje o nieruchomości</p>
    <div class="basicInfo">
      <div class="propertyWrapper">
        <p class="label">Województwo</p>
        <p class="info">{{ houseData.province }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Miasto</p>
        <p class="info">{{ houseData.city }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Ulica</p>
        <p class="info">{{ houseData.street }} {{ houseData.houseNr }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Rok budowy</p>
        <p class="info">{{ houseData.yearBuilt }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Powierzchnia w m<sup>2</sup></p>
        <p class="info">{{ houseData.dimension }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Ilość pięter</p>
        <p class="info">{{ houseData.floorsInBuilding }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Ilośc pokoi</p>
        <p class="info">{{ houseData.roomsNumber }}</p>
      </div>
      <div class="propertyWrapper">
        <p class="label">Ilość łazienek</p>
        <p class="info">{{ houseData.bathroomNumber }}</p>
      </div>
    </div>
    <p class="propertyTitle">Udogodnienia</p>
    <div class="facilitiesContainer">
      <ng-container *ngIf="houseData.otherFeatures?.length">
        <div
          class="facilityWrapper"
          *ngFor="let facility of houseData.otherFeatures"
        >
          <div class="checked">
            <ng-icon name="bootstrapCheckSquareFill"></ng-icon>
          </div>
          <p class="nameOfFacility">{{ facility }}</p>
        </div>
      </ng-container>

      <div class="facilityWrapper" *ngIf="!houseData.otherFeatures?.length">
        <div class="checked" *ngIf="houseData.otherFeatures?.length">
          <ng-icon name="bootstrapCheckSquareFill"></ng-icon>
        </div>
        <p class="nameOfFacility">Brak dodatkowych udogodnien</p>
      </div>
    </div>
    <div>
      <p class="propertyTitle">Więcej inforamcji</p>
      <p class="description">
        {{
          houseData.descriptionField
            ? houseData.descriptionField
            : "Brak dodatkowych informacji"
        }}
      </p>
    </div>
  </div>
</div>
