<!--todo ekran ładowania-->
<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div
></ng-container>

<div>
  <div
    [ngClass]="{ bgOpacity: openModal.isOpen || modalDetail.open }"
    (click)="closeModal()"
  ></div>

  <div *ngIf="openModal.isOpen && openModal.type === 'login'">
    <app-login></app-login>
  </div>
  <div *ngIf="openModal.isOpen && openModal.type === 'register'">
    <app-register></app-register>
  </div>
  <div *ngIf="openModal.isOpen && openModal.type === 'changePassword'">
    <app-user-new-password></app-user-new-password>
  </div>

  <app-header></app-header>
  <div class="container">
    <router-outlet></router-outlet>
    <lib-toastify-toast-container
      [autoClose]="2000"
    ></lib-toastify-toast-container>
  </div>
  <app-footer></app-footer>
</div>
