<div class="container">
  <div class="formWrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="oldPasswordInputWrapper">
        <label for="oldPassword">Stare hasło</label>
        <input
          id="oldPassword"
          type="password"
          placeholder="Wprowadź stare hasło"
          name="password"
          formControlName="password"
        />
        <div
          *ngIf="
            !form.controls['password'].valid &&
            form.controls['password'].touched
          "
        >
          <ng-icon
            name="bootstrapExclamationTriangleFill"
            class="errorIcon"
          ></ng-icon>
          <p class="errorMessage">
            {{ "Hasło musi mieć minimum 6 znaków" }}
          </p>
        </div>
      </div>

      <div class="newPasswordInputWrapper">
        <label for="newPassword">Nowe hasło</label>
        <input
          id="newPassword"
          type="password"
          placeholder="Wprowadź nowe hasło"
          name="newPassword"
          formControlName="newPassword"
        />
        <div
          *ngIf="
            !form.controls['newPassword'].valid &&
            form.controls['newPassword'].touched
          "
        >
          <ng-icon
            name="bootstrapExclamationTriangleFill"
            class="errorIcon"
          ></ng-icon>
          <p class="errorMessage">
            {{ "Hasło musi mieć minimum 6 znaków" }}
          </p>
        </div>
      </div>

      <div class="repeatNewPasswordInputWrapper">
        <label for="repeatNewPassword">Powtórz hasło</label>
        <input
          id="repeatNewPassword"
          type="password"
          placeholder="Wprowadź nowe hasło"
          name="newPasswordRepeat"
          formControlName="newPasswordRepeat"
        />
        <div
          *ngIf="
            !form.controls['newPasswordRepeat'].valid &&
            form.controls['newPasswordRepeat'].touched
          "
        >
          <ng-icon
            name="bootstrapExclamationTriangleFill"
            class="errorIcon"
          ></ng-icon>
          <p class="errorMessage">
            {{ "Hasło musi mieć minimum 6 znaków" }}
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="submitButton"
        [ngClass]="{
          disabled:
            !form.controls['password'].valid ||
            !form.controls['newPassword'].valid ||
            !form.controls['newPasswordRepeat'].valid
        }"
        [disabled]="
          !form.controls['password'].valid ||
          !form.controls['newPassword'].valid ||
          !form.controls['newPasswordRepeat'].valid
        "
      >
        <p>Zapisz</p>
      </button>
    </form>
  </div>
</div>
