.container {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  border-radius: 12px;
  width: 480px;

  .formWrapper {
    margin: 45px 30px 0 30px;

    form {
      display: flex;
      flex-direction: column;

      .errorIcon {
        position: absolute;
        top: 48px;
        right: 20px;
        color: #ff5555;
      }
      .oldPasswordInputWrapper,
      .newPasswordInputWrapper {
        margin-bottom: 26px;
      }
      .oldPasswordInputWrapper,
      .newPasswordInputWrapper,
      .repeatNewPasswordInputWrapper {
        display: flex;
        flex-direction: column;

        position: relative;

        label {
          margin-bottom: 11px;
          font-weight: 600;
          font-size: 16px;
          color: #000;
        }

        input {
          border: 1px solid #e3e3e3;
          border-radius: 3px;
          padding: 16px 45px 16px 24px;
          font-size: 16px;

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
          }

          &:focus {
            border: 1px solid #000;
            outline: none;
          }
        }
      }

      .errorMessage {
        color: #ff5555;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 9px;
      }

      .submitButton {
        margin: 45px 0;
        font-size: 20px;
        font-weight: 600;
        background: #ff8842;
        border: none;
        border-radius: 3px;

        p {
          padding: 13px 0;
        }

        &:hover {
          cursor: pointer;
          background: #ff7523;
        }
      }
      .disabled {
        cursor: unset;

        &:hover {
          cursor: unset;
          background: #ff8842;
        }
      }
    }
  }
}
