.container {
  .navBar {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    button {
      margin: 0 10px;
      text-transform: uppercase;
      color: #535c68;
      background: unset;
      border: none;
      padding: 5px 10px;
      font-weight: 600;
    }

    button:hover {
      cursor: pointer;
      color: #414141;
    }

    .borderBottomButton {
      border-bottom: 2px solid #535c68;
      padding: 4px 10px;
    }
  }
  .pages {
    margin: 25px 0;
  }
}
